body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul
{
    list-style: none;
    |
}

img
{
    border: 1px solid blue;
    width: 10%;
    margin-left: 10px;
}

.biodata
{
    border: 1px solid blue;
    margin: -200px auto;
    width: 60%;
    padding: 20px;
}

.judul
{
    text-align: center;
    background: bisque ;
}